In [30]:
import pandas as pd
df1 = pd.read_csv('./Raw Data/CSV formats/Dt_0116_m565.csv')
df1.head(0)

Empty DataFrame
Columns: [Sl, Unnamed: 1, Date, Reflux, Duty, Feed, Feed Comp (A%), Ambient, R/ (light Fd), Duty / (light Fd), Del(Amb), Del (R), Del (Q), Effective Del(R), B ppm (top), A ppm (bttm), Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22]
Index: []

[0 rows x 23 columns]

In [33]:
Y=pd.DataFrame(df1, columns = ['Date','A ppm (bttm)','B ppm (top)'])
Y.columns = ['Dt','AB','BT']
Y[0:1]

                  Dt       AB       BT
0  01/01/16 12:00 AM  50000.0  50000.0

In [34]:
X=pd.DataFrame(df1, columns = ['Date','Reflux','Duty','Feed','Feed Comp (A%)'])
X.columns = ['Dt','R','Q','F','FA']
X[0:1]

                  Dt      R     Q      F    FA
0  01/01/16 12:00 AM  100.0  20.0  100.0  50.0

In [35]:
Xt = pd.DataFrame(index = X.index, columns=['R','Q','F','FA','R1','R2','R3','R4','R5','R6','R7','R8','R9','R10','R11','R12','Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10','Q11','Q12','F1','F2','F3','F4','F5','F6','F7','F8','F9','F10','F11','F12','FA1','FA2','FA3','FA4','FA5','FA6','FA7','FA8','FA9','FA10','FA11','FA12'])

In [36]:
for i in range(len(X)-13):
    Xt['R'][i] = X['R'][i+13]
    Xt['R1'][i] = X['R'][i+12]
    Xt['R2'][i] = X['R'][i+11]
    Xt['R3'][i] = X['R'][i+10]
    Xt['R4'][i] = X['R'][i+9]
    Xt['R5'][i] = X['R'][i+8]
    Xt['R6'][i] = X['R'][i+7]
    Xt['R7'][i] = X['R'][i+6]
    Xt['R8'][i] = X['R'][i+5]
    Xt['R9'][i] = X['R'][i+4]
    Xt['R10'][i] = X['R'][i+3]
    Xt['R11'][i] = X['R'][i+2]
    Xt['R12'][i] = X['R'][i+1]
    Xt['Q'][i] = X['Q'][i+13]
    Xt['Q1'][i] = X['Q'][i+12]
    Xt['Q2'][i] = X['Q'][i+11]
    Xt['Q3'][i] = X['Q'][i+10]
    Xt['Q4'][i] = X['Q'][i+9]
    Xt['Q5'][i] = X['Q'][i+8]
    Xt['Q6'][i] = X['Q'][i+7]
    Xt['Q7'][i] = X['Q'][i+6]
    Xt['Q8'][i] = X['Q'][i+5]
    Xt['Q9'][i] = X['Q'][i+4]
    Xt['Q10'][i] = X['Q'][i+3]
    Xt['Q11'][i] = X['Q'][i+2]
    Xt['Q12'][i] = X['Q'][i+1]
    Xt['F'][i] = X['F'][i+13]
    Xt['F1'][i] = X['F'][i+12]
    Xt['F2'][i] = X['F'][i+11]
    Xt['F3'][i] = X['F'][i+10]
    Xt['F4'][i] = X['F'][i+9]
    Xt['F5'][i] = X['F'][i+8]
    Xt['F6'][i] = X['F'][i+7]
    Xt['F7'][i] = X['F'][i+6]
    Xt['F8'][i] = X['F'][i+5]
    Xt['F9'][i] = X['F'][i+4]
    Xt['F10'][i] = X['F'][i+3]
    Xt['F11'][i] = X['F'][i+2]
    Xt['F12'][i] = X['F'][i+1]
    Xt['FA'][i] = X['FA'][i+13]
    Xt['FA1'][i] = X['FA'][i+12]
    Xt['FA2'][i] = X['FA'][i+11]
    Xt['FA3'][i] = X['FA'][i+10]
    Xt['FA4'][i] = X['FA'][i+9]
    Xt['FA5'][i] = X['FA'][i+8]
    Xt['FA6'][i] = X['FA'][i+7]
    Xt['FA7'][i] = X['FA'][i+6]
    Xt['FA8'][i] = X['FA'][i+5]
    Xt['FA9'][i] = X['FA'][i+4]
    Xt['FA10'][i] = X['FA'][i+3]
    Xt['FA11'][i] = X['FA'][i+2]
    Xt['FA12'][i] = X['FA'][i+1]

In [37]:
Xt.to_csv('./DataCSV/Dt_0116_m565_XT.csv')

In [38]:
Y.drop(Y.index[:13])

                     Dt            AB            BT
13    01/01/16 01:05 AM  49933.333333  50066.666667
14    01/01/16 01:10 AM  49866.666667  50133.333333
15    01/01/16 01:15 AM  49733.333333  50266.666667
16    01/01/16 01:20 AM  49600.000000  50400.000000
17    01/01/16 01:25 AM  49466.666667  50533.333333
18    01/01/16 01:30 AM  49333.333333  50666.666667
19    01/01/16 01:35 AM  49200.000000  50800.000000
20    01/01/16 01:40 AM  49066.666667  50933.333333
21    01/01/16 01:45 AM  48933.333333  51066.666667
22    01/01/16 01:50 AM  48800.000000  51200.000000
23    01/01/16 01:55 AM  48733.333333  51266.666667
24    01/01/16 02:00 AM  48666.666667  51333.333333
25    01/01/16 02:05 AM  48666.666667  51333.333333
26    01/01/16 02:10 AM  48666.666667  51333.333333
27    01/01/16 02:15 AM  48541.666667  51458.333333
28    01/01/16 02:20 AM  48416.666667  51583.333333
29    01/01/16 02:25 AM  48166.666667  51833.333333
30    01/01/16 02:30 AM  47916.666667  52083.333333
31    01/01/16 02:35 AM  47666.666667  52333.333333
32    01/01/16 02:40 AM  47416.666667  52583.333333
33    01/01/16 02:45 AM  47166.666667  52833.333333
34    01/01/16 02:50 AM  46916.666667  53083.333333
35    01/01/16 02:55 AM  46666.666667  53333.333333
36    01/01/16 03:00 AM  46416.666667  53583.333333
37    01/01/16 03:05 AM  46291.666667  53708.333333
38    01/01/16 03:10 AM  46166.666667  53833.333333
39    01/01/16 03:15 AM  46166.666667  53833.333333
40    01/01/16 03:20 AM  46154.166667  53845.833333
41    01/01/16 03:25 AM  46141.666667  53858.333333
42    01/01/16 03:30 AM  46116.666667  53883.333333
...                 ...           ...           ...
8898  01/31/16 09:30 PM  52080.862865  47919.137135
8899  01/31/16 09:35 PM  52096.367310  47903.632690
8900  01/31/16 09:40 PM  52100.268775  47899.731225
8901  01/31/16 09:45 PM  52100.562507  47899.437493
8902  01/31/16 09:50 PM  52092.032323  47907.967677
8903  01/31/16 09:55 PM  52065.579554  47934.420446
8904  01/31/16 10:00 PM  52051.162556  47948.837444
8905  01/31/16 10:05 PM  52024.228328  47975.771672
8906  01/31/16 10:10 PM  52020.053235  47979.946765
8907  01/31/16 10:15 PM  52013.399009  47986.600991
8908  01/31/16 10:20 PM  52022.163938  47977.836062
8909  01/31/16 10:25 PM  52043.882756  47956.117244
8910  01/31/16 10:30 PM  52092.693742  47907.306258
8911  01/31/16 10:35 PM  52151.450033  47848.549967
8912  01/31/16 10:40 PM  52231.595874  47768.404126
8913  01/31/16 10:45 PM  52307.936922  47692.063078
8914  01/31/16 10:50 PM  52380.154663  47619.845337
8915  01/31/16 10:55 PM  52457.762937  47542.237063
8916  01/31/16 11:00 PM  52525.106835  47474.893165
8917  01/31/16 11:05 PM  52592.100769  47407.899231
8918  01/31/16 11:10 PM  52645.248346  47354.751654
8919  01/31/16 11:15 PM  52668.050263  47331.949737
8920  01/31/16 11:20 PM  52669.516445  47330.483555
8921  01/31/16 11:25 PM  52669.504604  47330.495396
8922  01/31/16 11:30 PM  52664.313797  47335.686203
8923  01/31/16 11:35 PM  52653.061155  47346.938845
8924  01/31/16 11:40 PM  52649.938731  47350.061269
8925  01/31/16 11:45 PM  52606.608722  47393.391278
8926  01/31/16 11:50 PM  52586.608555  47413.391445
8927  01/31/16 11:55 PM  52544.514231  47455.485769

[8915 rows x 3 columns]

In [40]:
Y.to_csv('./DataCSV/Dt_0116_m565_YT.csv')